include window-title.pug
include window-body.pug

//- 
  Window component that holds window-title and window-body
mixin window-main(id)
  div(
    class="aqua-window"
    id= id, 
    data-aqua-elem="window-main", 
    data-aqua-focus="false"
    tabindex="0"
    )&attributes(attributes)
    if block 
      block
