include ../components/window/window-main.pug
include ../components/window/window-title.pug
include ../components/window/window-body.pug
include ../components/window/window-content.pug
include ../components/window/window-navbar.pug
include ../components/window/window-navbar-btn.pug
include ../components/layout/layout.pug
include ../components/layout/layout-wrapper.pug
include ../components/layout/layout-row.pug
include ../components/layout/layout-col.pug
include ../components/button-rounded/button-rounded.pug

// ui/window
+window-main()(
  data-aqua-focus="false", 
  role="dialog",
  id="ui-window-info-1",
  aria-labelledby="ui-window-info-1-title",
  aria-describedby="ui-window-info-1-desc"
  )
  //- Show window buttons by setting hasButtons to true
  +window-title("About", false)
  +window-body()
    // window-content
    +window-content()
      +layout()
        +layout-wrapper()
          +layout-row("align-center")
            +layout-col(7)
              p= description
              a(href= "https://guidebookgallery.org/screenshots/macosx100")
              span #{name} 2024
    // /window-content
// /ui/window