include ../components/window/window-main.pug
include ../components/window/window-title.pug
include ../components/window/window-body.pug
include ../components/window/window-content.pug
include ../components/window/window-navbar.pug
include ../components/window/window-navbar-btn.pug
include ../components/layout/layout.pug
include ../components/layout/layout-wrapper.pug
include ../components/layout/layout-row.pug
include ../components/layout/layout-col.pug
include ../components/button-rounded/button-rounded.pug

// ui/window
+window-main()(
  id="ui-program-window",
  class="aqua-dialog", 
  data-aqua-focus="true", 
  role="dialog",
  aria-labelledby="ui-program-window-1-title",
  aria-describedby="ui-program-window-1-desc"
  )
  //- Show window buttons by setting hasButtons to true
  +window-title("Window title", true)
  +window-body()
    +window-navbar()
      +window-navbar-btn("Media") 
        span.icon.icon--md 💿
        span Media
      +window-navbar-btn("Settings") 
        span.icon.icon--md ⚙️
        span Settings
      +window-navbar-btn("Edit")
        span.icon.icon--md 📝
        span Edit
      +window-navbar-btn("Burn")
        span.icon.icon--md ©
        span Burn
      +window-navbar-btn("Eject") 
        span.icon.icon--md ⏏
        span Eject
    +window-content()
      +layout()
        +layout-wrapper()
          +layout-row()
            +layout-col(12)
              p Window-buttons, navbar and two rows with columns 12 and 2 x 6.
          +layout-row()
            +layout-col(6)
              p Column A
            +layout-col(6)
              p Column B
              +layout-row("align-end")
                +button-rounded("White") White
                +button-rounded("Red", "red") Red button

// /ui/window